{% extends 'base.html'%}

{% block styles %}
<style>
.profile-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.username {
    margin-top: 15px;
    font-size: 1.5rem;
    color: #333;
}

.logout {
    margin-top: 15px;
    font-size: 1.5rem;
    color: #333;
}
</style>
{% endblock %}


{% block body %}
<div class="profile-container">
    <img src="data:image/png;base64, [b64_image]" alt="Profile Picture" class="profile-picture" id="profile-picture"/>
    <div class="username">Hello <b>{{ username }}</b></div>
    <div class="logout"><a href="logout">Click here to logout</a></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const bucketUrl = "{{ profile_pic_url }}";
        
        if (bucketUrl) {
            const requestUrl = window.location.origin + '/profilepic?bucketurl=' + encodeURIComponent(bucketUrl);

            fetch(requestUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(base64Image => {
                    const profilePicture = document.getElementById('profile-picture');
                    if (!profilePicture) {
                        return;
                    }
                    profilePicture.src = 'data:image/png;base64,' + base64Image;
                })
                .catch(error => {
                    console.error('Error fetching or updating image:', error);
                });
        }
    });
</script>
{% endblock %}