{% extends 'base.html'%}
{% block styles %}
<style>
        .container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            margin: 0 auto; 
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 8px;
            font-weight: bold;
        }

        input[type="text"], input[type="password"] {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }

        button {
            padding: 10px;
            background-color: #1e88e5;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #1565c0;
        }

        .register {
            text-align: center;
            margin-top: 20px;
            font-size: 0.9rem;
        }

        .register a {
            color: #1e88e5;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s;
        }

        .register a:hover {
            color: #1565c0;
        }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Register</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        <div>Profile picture (mandatory):</div>
        <p></p>
        {{ form.photo }}
        <p></p>
        {{ form.submit }}
    </form>
    <p></p>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                {% if category == "register_error" %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

</div>
{% endblock %}
